{% extends "base.html" %}
{% block title %}Round 1{% endblock %}

{% block content %}
  <style>
    /* Custom styles for the table */
    table.table {
      border-collapse: collapse;
      width: 100%;
    }

    table.table thead {
      background-color: #f8f9fa;
    }

    table.table th,
    table.table td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #dee2e6;
    }

    table.table th.heat,
    table.table td.heat {
      width: 10%; /* Adjust as necessary */
    }

    table.table th.rider-1,
    table.table td.rider-1,
    table.table th.rider-2,
    table.table td.rider-2,
    table.table th.rider-3,
    table.table td.rider-3,
    table.table th.submit,
    table.table td.submit {
      width: 16%; /* Adjust as necessary */
    }

    table.table th.col-v,
    table.table td.col-v {
      width: 2%; /* Adjust as necessary */
    }

    table.table th {
      font-weight: bold;
    }

    table.table td {
      vertical-align: top;
    }

    .selected-1 {
      background-color: #A8E6CF;  /* Modern light green */
      border: 2px solid white;
      border-radius: 8px;
      position: relative;  /* To position the number correctly */
    }
    
    .selected-2 {
      background-color: #AEDFF7;  /* Light blue */
      border: 2px solid white;
      border-radius: 8px;
      position: relative;  /* To position the number correctly */
    }

    .selected-3 {
        background-color: #FFD3B6;  /* Modern peach */
        border: 2px solid white;
        border-radius: 8px;
        position: relative;  
      }
      
      .selected-4 {
        background-color: #FFAAA5;  /* Modern light coral */
        border: 2px solid white;
        border-radius: 8px;
        position: relative;  
      }
      
      .selected-5 {
        background-color: #FF8B94;  /* Modern light rose */
        border: 2px solid white;
        border-radius: 8px;
        position: relative;  
      }
      
    
    /* Style for the numbers inside the selected cells */
    .selected-num {
      position: absolute;
      top: 50%;
      right: 10px;   /* Adjusted this from left to right and gave it a 10px offset from the right edge */
      transform: translateY(-50%);   /* Only need to adjust the Y-axis since we're not centering horizontally anymore */
      font-weight: bold;
      font-size: 18px;
    }
    button {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      color: #fff;
      background-color: #007bff;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #0056b3;
    }

    button.confirm {
      background-color: #ffc107; /* Amber color */
    }
  
    button.confirm:hover {
      background-color: #ffb400; /* Darker amber color on hover */
    }
  
    button.submitted {
      background-color: #28a745; /* Green color */
    }
  
    button.submitted:hover {
      background-color: #218838; /* Darker green color on hover */
    }
  </style>
  <h1>Round 1 Pairings</h1>

  {% set sorted_categories = pairings.keys() | sort %}
  {% for category in sorted_categories %}
    {% set pairings_category = pairings[category] %}
    <h2>Sprint {{ category }}</h2>
    <div class="table-container">
      <table class="table" id="sprint{{ category }}Table">
      <thead>
        <tr>
          <th class="heat">Heat</th>
          <th class="rider-1">Rider 1</th>
          <th class="col-v"></th>
          <th class="rider-2">Rider 2</th>
          <th class="col-v"></th>
          <th class="rider-3">Rider 3</th>
          <th class="submit">Submit Result</th>
        </tr>
      </thead>
      <tbody>
        {% for pairing in pairings_category %}
          <tr>
            <td class="heat">Heat {{ loop.index }}</td>
            {% if pairing.pairing[0] != "BYE" %}
              <td class="rider-1" onclick="selectRider(this, 'sprint{{ category }}Table')">
                {{ pairing.pairing[0] }}
              </td>
            {% else %}
              <td class="rider-1"></td>
            {% endif %}
            <td class="col-v">V</td>
            {% if pairing.pairing[1] != "BYE" %}
              <td class="rider-2" onclick="selectRider(this, 'sprint{{ category }}Table')">
                {{ pairing.pairing[1] }}
              </td>
            {% else %}
              <td class="rider-2"></td>
            {% endif %}
            <td class="col-v">V</td>
            {% if pairing.pairing|length > 2 %}
              {% if pairing.pairing[2] != "BYE" %}
                <td class="rider-3" onclick="selectRider(this, 'sprint{{ category }}Table')">
                  {{ pairing.pairing[2] }}
                </td>
              {% else %}
                <td class="rider-3"></td>
              {% endif %}
            {% else %}
              <td class="rider-3"></td>
            {% endif %}
            <td class="submit">
              <button type="button" onclick="confirmResult(this)">Submit</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>

<script>
  function selectRider(tdElement, tableID) {
    const alreadySelected = tdElement.parentNode.querySelectorAll('.selected-1, .selected-2, .selected-3');

    // If the rider cell is already selected, deselect it
    if (tdElement.classList.contains('selected-1') || tdElement.classList.contains('selected-2') || tdElement.classList.contains('selected-3') || tdElement.classList.contains('selected-4') || tdElement.classList.contains('selected-5')) {
      let classes = Array.from(tdElement.classList);
      for (let i = 0; i < classes.length; i++) {
        if (classes[i].startsWith('selected-')) {
          tdElement.classList.remove(classes[i]);
        }
      }
      let numberElement = tdElement.querySelector('.selected-num');
      if (numberElement) {
        tdElement.removeChild(numberElement);
      }
      return;
    }

    // Check if we've reached max selection count
    if (alreadySelected.length >= 5) {
      return;
    }

    // Add the appropriate selected class
    let selectedClass = 'selected-' + (alreadySelected.length + 1);
    tdElement.classList.add(selectedClass);

    let numberElement = document.createElement('span');
    numberElement.classList.add('selected-num');
    numberElement.textContent = alreadySelected.length + 1;
    tdElement.appendChild(numberElement);

    const submitButton = tdElement.parentNode.querySelector('button');
    if (submitButton.innerHTML === "Confirm" || submitButton.innerHTML === "Submitted") {
      submitButton.innerHTML = "Submit";
      submitButton.classList.remove("confirm");
      submitButton.classList.remove("submitted");
    }
  }

  function confirmResult(button) {
    const selectedCells = Array.from(button.parentNode.parentNode.querySelectorAll('.selected-1, .selected-2, .selected-3, .selected-4, .selected-5'));
  
    // Check how many rider cells in this heat are not empty
    const allRiderCellsInRow = Array.from(button.parentNode.parentNode.querySelectorAll('.rider-1, .rider-2, .rider-3, .rider-4, .rider-5'));
    const nonEmptyRiderCells = allRiderCellsInRow.filter(cell => cell.textContent.trim() !== "");
  
    // Determine valid selection count based on non-empty rider cells
    const validSelectionCount = nonEmptyRiderCells.length;
  
    if (selectedCells.length === 0) {
      alert("Please select at least one rider.");
      return;
    }
  
    if (button.innerHTML === "Submit") {
      button.innerHTML = "Confirm";
      button.classList.add("confirm");
    } else if (button.innerHTML === "Confirm") {
      // Get the selected riders' names and heat number
      const heatNumber = button.parentNode.parentNode.querySelector(".heat").textContent;
      const selectedRiders = selectedCells.map(cell => cell.textContent.trim());
      const selectedRider1 = selectedRiders[0];
      const selectedRider2 = selectedRiders[1] || 'BYE';
      const selectedRider3 = selectedRiders[2] || 'BYE';
  
      // Perform an AJAX request to submit Round 1 Rep results
      fetch('/update_round1_seeding', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          heatNumber: heatNumber,
          selectedRider1: selectedRider1,
          selectedRider2: selectedRider2,
          selectedRider3: selectedRider3,
        }),
      })
        .then(response => response.json())
        .then(data => {
          console.log("Response:", data); // Log the response for debugging
          if (data.success) {
            button.innerHTML = "Submitted";
            button.classList.remove("confirm");
            button.classList.add("submitted");
          } else {
            alert("Failed to update Round 1. Please try again.");
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  }
</script>
{% endblock %}
